#footer {
  display: flex;
  justify-content: center;
  font-family: "Lilita One", sans-serif;
  color: white;
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  margin-top: 0px;
  padding: 20px;
  background-color: #386ABB;
}
